<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="user-scalable=no">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <link rel="stylesheet" type="text/css" href="normalize.css">
                    <link rel="stylesheet" type="text/css" href="style.css">
                        </head>
    
    <body>
        <div id="hLine" class="hLine" style="top: 292px; display: none;"></div>
        <div id="vLine" class="vLine" style="left: 345px; display: none;"></div>
        <div id="editor" style="background-color: white; line-height: 28px;" contenteditable="true" placeholder="" class="placeholder"><img src="shiplake.jpeg" alt="" class="block" style="height: auto; width: 349px; margin-top: 20px; margin-bottom: 10px;" id=""></div>
        
        <script src="rich_editor.js"></script>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="tableLayoutMethodes.js"></script>
        
        
        <div id="" contenteditable="false" tabindex="-1" class="floatingTouchblock" onclick="myFunction();" onfocus="myFunction();" style="top: 186px; left: 13px; position: absolute; width: 107px; height: 75px;">
            <div contenteditable="false" tabindex="-1" class="touchblockResizeCover" id="" style="display: none;"></div>
            <div contenteditable="false" tabindex="-1" class="touchblockMoveCover" id="" style="display: none;"></div>
            <div contenteditable="false" tabindex="-1" class="touchblockBGICover" style="background-image: none; background-color: rgb(205, 89, 74);"></div>
            <div contenteditable="true" tabindex="-1" class="touchblockContentCover" onclick="myFunction();" onfocusout="focusoutFunction();" style="border: 6px double rgb(154, 38, 23);"><div style="text-align: center; line-height: 1.7;"><font face="Academy Engraved LET">Shiplake</font></div><div style="text-align: center; line-height: 1.7;"><font face="Academy Engraved LET">2018.7.10</font></div><div style="text-align: left; line-height: 1.7;"><br></div><div style="text-align: left; line-height: 1.7;"><font face="Academy Engraved LET"><span style="-webkit-text-size-adjust: 100%; font-size: 16px; line-height: 1.7;"><br></span></font></div></div>
        </div>
        <div id="" contenteditable="false" tabindex="-1" class="floatingTouchblock" onclick="myFunction();" onfocus="myFunction();" style="top: 67px; left: 248px; position: absolute; width: 97px; height: 225px;">
            <div contenteditable="false" tabindex="-1" class="touchblockResizeCover" id="" style="display: none;"></div>
            <div contenteditable="false" tabindex="-1" class="touchblockMoveCover" id="" style="display: none;"></div>
            <div contenteditable="false" tabindex="-1" class="touchblockBGICover" style="background-image: none; background-color: transparent;"></div>
            <div contenteditable="true" tabindex="-1" class="touchblockContentCover" onclick="myFunction();" onfocusout="focusoutFunction();" style="writing-mode: vertical-lr;"><p style="font-stretch: normal; font-size: 12px; line-height: normal;"><span style="font-size: 12pt; -webkit-text-size-adjust: 100%; color: rgb(255, 255, 255);"><font face="Hiragino Maru Gothic ProN">清晨又以茶来迎接新的一天。</font></span></p>
                <p style="font-stretch: normal; font-size: 12px; line-height: normal;"><span style="font-size: 12pt; color: rgb(255, 255, 255);"><font face="Hiragino Maru Gothic ProN">夜深时以茶为藉，</font></span></p>
                <p style="font-stretch: normal; font-size: 12px; line-height: normal;"><span style="font-size: 12pt; color: rgb(255, 255, 255);"><font face="Hiragino Maru Gothic ProN">黄昏时以茶为乐，</font></span></p></div>
        </div>
        
    </body>
    
</html>
