<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="user-scalable=no">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <link rel="stylesheet" type="text/css" href="normalize.css">
                    <link rel="stylesheet" type="text/css" href="style.css">
                            </head>
    <body>
        <div id="hLine" class="hLine" style="top: 280px; display: none;"></div>
        <div id="vLine" class="vLine" style="left: 360px; display: none;"></div>
        <div id="editor" style="background-color: white; line-height: 28px;" contenteditable="true" placeholder="" class="">
            <div style="text-align: center; font-size: 20px; line-height: 1.7;"><b>EasyPoster Development Team</b></div><div>- Function developer: Diqing Chang (changdiqing@live.cn)</div><div>- Function tester: Yongle Qi (Yongle.qi@outlook.com)</div><div>- UI Designer: Yunzhi Zhou (teresaforever18@163.com)</div></div>
        
        <script src="rich_editor.js"></script>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="tableLayoutMethodes.js"></script>
        
        
        
    </body>

</html>
