<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="user-scalable=no">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <link rel="stylesheet" type="text/css" href="normalize.css">
                    <link rel="stylesheet" type="text/css" href="style.css">
                        </head>
    <body>
        <div id="hLine" class="hLine" style="top: 323px; display: none;"></div>
        <div id="vLine" class="vLine" style="left: 315px; display: none;"></div>
        <div id="editor" style="background-color: white; line-height: 28px;" contenteditable="true" placeholder="" class=""><img src="julyfire.jpeg" alt="" class="block" style="height: auto; width: 349px; margin-top: 20px; margin-bottom: 10px;" id="">
            </div>
        
        <script src="rich_editor.js"></script>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="tableLayoutMethodes.js"></script>
        
        
        <div id="" contenteditable="false" tabindex="-1" class="floatingTouchblock" onclick="myFunction();" onfocus="myFunction();" style="top: 96px; left: 147px; position: absolute; width: 108px; height: 225px;">
            <div contenteditable="false" tabindex="-1" class="touchblockResizeCover" id="" style="display: none;"></div>
            <div contenteditable="false" tabindex="-1" class="touchblockMoveCover" id="" style="display: none;"></div>
            <div contenteditable="false" tabindex="-1" class="touchblockBGICover" style="background-image: none; background-color: transparent;"></div>
            <div contenteditable="true" tabindex="-1" class="touchblockContentCover" onclick="myFunction();" onfocusout="focusoutFunction();" style="writing-mode: vertical-lr;"><p style="font-stretch: normal; font-size: 12px; line-height: normal;"><span style="font-size: 12pt; color: rgb(255, 255, 255);"><font face="Times New Roman" style="font-size: 40px; line-height: 1.7;">七月流火</font></span></p></div>
        </div>
        <div id="" contenteditable="false" tabindex="-1" class="floatingTouchblock" onclick="myFunction();" onfocus="myFunction();" style="top: 218px; left: 217px; position: absolute; width: 98px; height: 105px;">
            <div contenteditable="false" tabindex="-1" class="touchblockResizeCover" id="" style="display: none;"></div>
            <div contenteditable="false" tabindex="-1" class="touchblockMoveCover" id="" style="display: none;"></div>
            <div contenteditable="false" tabindex="-1" class="touchblockBGICover" style="background-image: none; background-color: transparent;"></div>
            <div contenteditable="true" tabindex="-1" class="touchblockContentCover" onclick="myFunction();" onfocusout="focusoutFunction();"><font face="Chalkduster" style="color: rgb(255, 255, 255); font-size: 20px; line-height: 1.7;">July</font></div>
        </div>
    </body>
    
</html>
