@charset "UTF-8";

html {
    height: 100%;
}

body {
    font-family: system-ui;
    font-size: 20px;
    min-height: 100%;
    overflow: auto;
}

body, h1, p {
    margin: 0;
}

img {
    display: block;
    margin: auto;
}

div {
    display: block;
    position: static;
}

#editor {
    -webkit-user-select: auto !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#editor:focus {
    outline: 0px solid transparent;
}

.placeholder[placeholder]:after {
    content: attr(placeholder);
    position: absolute;
    top: 0px;
    color: #cccccc;
}

#editor {
    min-height: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    /*font-family: 'HelveticaNeue';*/
    font-family: 'Lora', serif;
    color:#666666;
    font-size: 12pt;
}

.flex-container {
    display: flex;
    flex-wrap: unwrap;
    width: 100%;
}

.flex-row {
    display: inline-flex;
    /*flex-basis: 100%;*/
    overflow: auto;
}

.flex-row > div.block {
    /* self layout setting */
    /*display: inline-block;*/
    margin : 1%;
    height: 300px;
    background-color: DodgerBlue;
    /*writing-mode: vertical-lr;*/
    
    /* background image display setting */
    background-size:     cover;
    /*background-repeat:   no-repeat;*/
    background-position: center center;
}
div.children {
    /* self layout setting */
    height:100%;
    background-color: red;
    
}

.flex-colomn {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    height: 800px;
}
.flex-colomn > div {
    display: flex;
    flex-basis: 100%;
    margin : 2%;
    background-color: DodgerBlue;
    writing-mode: vertical-lr;
}

font[size='1'] {
    font-size: 10px;
}

font[size='2'] {
    font-size: 20px;
}

font[size='3'] {
    font-size: 40px;
}

font[size='4'] {
    font-size: 60px;
}

font[size='5'] {
    font-size: 80px;
}

font[size='6'] {
    font-size: 100px;
}

font[size='7'] {
    font-size: 520px;
}
